<!DOCTYPE html>
<html>
<head>
  <title>Max's Portfolio</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/application.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav>
    <h1>Max Goodman</h1>
     <div class="container">
       <div class="row">
         <div class="col-md-12 col-centered">
           <ul class="nav-links">
          <li><%= link_to "Welcome |", root_path %></li>
          <li><%= link_to "About |", '/about' %></li>
          <li><%= link_to "Blog |", 'http://maxgrok.github.io/', :target =>
"_blank" %></li>
          <li><a href="#"><%= link_to "Contact", '/contact' %></a></li>
        </ul>
         </div>
       </div>
     </div>   
    </nav>
  
<%= yield %>
  <footer>
  	<%= link_to( image_tag("http://i.imgur.com/BNW84UU.png"), "http://www.github.com/maxgrok", :target =>"_blank" ) %>
  </footer>
</body>
</html>
